# Скомпилированные файлы
*.exe
*.o
*.obj
*.out

# Папки сборки CMake
/build
/cmake-build-*

# Служебные файлы Code::Blocks
*.depend
*.layout

# Служебные файлы Dev-C++
*.dev

# Сгенерированные вашей программой SVG
*.svg

/bin
/obj